
body {
    margin: 0;
}
  
div#app {
    height: 100vh;
    
    /* grid container settings */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}
  
div#app > header {
    grid-area: header;
}
  
div#app > main {
    overflow: auto;
    grid-area: main;
    padding: 15px 5px 10px 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 600px 1fr;
}
  
div#app > footer {
    grid-area: footer;
}